@import "_variables.css";
@import "_font.css";
/*=============== BASE ===============*/
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    font-size: 1rem
}

body {
    font-family: var(--body-font);
    background-color: var(--ligth);
    /*transition: .5s;*/
    overflow-x: hidden;
    color: var(--blue-hard);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.25;
}

h2 {

}
ul {
    list-style: none;
}
h3 {
    /*font-family: 'cem', serif;*/
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
}

img {
    display: block;
    /*max-width: 100%;*/
    width: 100%;
    height: auto;
}

::selection {
    background-color: var(--blue-light);
}

::-webkit-scrollbar {
    display: none;
}
::-moz-viewport-scroll {
    display: none;
}
